.mat-mdc-card-title {
    color: whitesmoke;
    padding: 20px;

}

.card {
    width: 95vw;
}

/* DirectoryComponent's private CSS styles */
.directory {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.directory ol {
    display: flex;
}

.directory button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
}

.directory button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
}

.directory button:active {
    background-color: #525252;
    color: #fafafa;
}

.directory button.selected {
    background-color: black;
    color: white;
}

.directory button.selected:hover {
    background-color: #505050;
    color: white;
}

.directory button.selected:active {
    background-color: black;
    color: white;
}

.directory .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 0em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.directory .name {
    align-self: center;
}