<mat-tab-group dynamicHeight>
  <mat-tab label="Mes documents">
    <div class="small-box mat-elevation-z4">
      <app-file-tree></app-file-tree>

      <!-- Par défaut (aucun fichier n'est sélectionné, la valeur par défaut de l'id de fileToDisplay est 0 ), le seul onglet qui apparait est l'onglet "Mes documents" -->
      <app-directory-viewer [currentDirectory]="openedDirectory"
        (selectedFile)="displayFile($event)"></app-directory-viewer>
    </div>
  </mat-tab>
  <!-- quand un fichier est sélectionné dans le répertoire parent, l'onglet "Affichage" apparait et le contenu du fichier sélectionné est affiché -->
  <mat-tab label="Affichage" *ngIf="fileToDisplay.file_id != 0">
    <app-file-viewer class="large-box mat-elevation-z4" [displayedFile]="fileToDisplay">
    </app-file-viewer>
  </mat-tab>

</mat-tab-group>