<mat-tab-group dynamicHeight>
  <mat-tab label="Recherche">
    <app-file-tree class=" small-box mat-elevation-z4" (clickItem)="onClickItem($event)" [rootItem]="currentItem">
    </app-file-tree>
    <app-recipient-list class=" small-box mat-elevation-z4"></app-recipient-list>
  </mat-tab>
  <mat-tab label="Affichage" *ngIf="currentItem.item_type == 'file' && currentItem.item_id != '0'">
    <app-file-viewer class="large-box mat-elevation-z4" [currentFileId]="currentItem.item_id"
      (isClosed)="onCloseFileViewer($event)">
    </app-file-viewer>
  </mat-tab>
</mat-tab-group>