.small-box,
.large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(64, 86, 134);
}

.small-box {
  height: 100px;
  width: 100px;
}

.large-box {}